html, body {
  padding: 20px;
  background: lightgrey;
  height: 2000px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.overflow-box {
  width: 150px;
  height: 150px;
  background: lightblue;
  overflow: hidden;
  margin: 20px;
  padding: 20px;
}

.dropdown-container {
  position: relative;
  text-align: left;
}

.dropdown-container button {
  display: inline-block;
}

.dropdown {
  position: absolute;
  top: 110%;
  left: 0;
  margin: 0;
  padding: 0;
}

.dropdown li {
  list-style: none;
  text-align: left;
  padding: 5px 10px;
  background: rgba(255, 255, 255, 0.5);
  border-top: 1px solid #ccc;
}